.anjuta*
.tm_project*
.libs
.deps
#*#
*.la
*.lo
*.o
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
libtool
prepare.sh
stamp-h*
ltmain.sh
mkinstalldirs
config.guess
config.sub
Makefile
Makefile.in
